@font-face {
	font-family: '"digital-7"';
	font-style: normal;
	font-weight: 400;
	src: url("../assets//fonts/digital-7.ttf");
}


body {
    padding: 0px;
    margin: 0px;
}

.canvas {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
